RewriteEngine on
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME}\.php -f
#RewriteRule ^(.*)$ $1.php

#RewriteRule inicio index

#RewriteCond %{HTTP_HOST} !^rodayasociados\.com.mx$ [NC]
#RewriteRule ^(.*)$ http://rodayasociados.com.mx/$1 [R=301,L]

RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?s=$1
RewriteRule ^([a-zA-Z0-9_-]+)/$ index.php?s=$1

#ErrorDocument 404: http://rodayasociados.com.mx


BrowserMatch MSIE ie
Header set X-UA-Compatible "IE=Edge,chrome=1" env=ie
